{{#each apartment-tile}}
    <div class="apartment-tile" data-x="{{apartment-tile-x}}" data-y="{{apartment-tile-y}}" data-price="{{apartment-tile-price}}">
        <a class="apartment-tile__room-link" href="#"></a>
        <div class="apartment-tile__checkbox-position">
            <input class="apartment-tile__checkbox" id="apartment-tile__checkbox{{label-id}}" type="checkbox" value="value">
            <label class="apartment-tile__checkbox-label" for="apartment-tile__checkbox{{label-for}}"></label>
        </div>
        <div class="apartment-tile__slider">
            {{#each apartment-tile-img}}
                <img src="{{img}}" alt="apartments">
            {{/each}}
        </div>
        <div class="apartment-tile__desc-position">
            <div class="apartment-tile__zar-box">
                <span>ZAR</span>
                <span>{{zar}}</span>
            </div>
            <h3>{{title}}</h3>
            <div class="apartment-tile__desc">
                <div class="apartment-tile__verification-position">
                    <span class="apartment-tile__verification {{color-desc}}">{{apartment-tile__verification}}</span>
                    <span class="apartment-tile__desc-apart">{{apartment-tile__desc-apart}}</span>
                </div>
                <div class="apartment-tile__rating-position">
                    {{{apartment-tile__star}}}
                    <span class="apartment-tile__rating">{{apartment-tile__rating}}</span>
                    <span class="apartment-tile__review">{{apartment-tile__review}}</span>
                    <span class="apartment-tile__new-label">{{apartment-tile__new-label}}</span>
                </div>
            </div>
            <p class="apartment-tile__adress">{{apartment-tile__adress}}</p>
            <div class="apartment-tile__details">
                <span class="apartment-tile__details-sofa">{{apartment-tile__details-sofa}}</span>
                <span class="apartment-tile__details-bath">{{apartment-tile__details-bath}}</span>
                <span class="apartment-tile__details-square">{{apartment-tile__details-square}} m<sup>2</sup></span>
            </div>
        </div>
    </div>
{{/each}}
