<div class="bg-white-browsing">
<div class="container-box-full nav-position">
        <div class="filters-menu">
            <div class="filters-menu__left-part">
                <div class="browsing__closest-filter browsing__closest-filter-mobile">
                    <a class="browsing__triangle" href="#">Sort by</a>
                </div>
                <a class="filters-menu__filter-link" href="#">Filters</a>
                <div class="filters-menu__items">
                    <ul>
                        <li>
                            <a href="#">Price Range</a>
                            <div class="filters-menu__dropdown filters-menu__price">
                                <form class="main-form__filters">
                                    <div class="filters-menu__input-position">
                                        <div class="field-wrap">
                                            <input class="form-control main-form__name-input" id="min-price" name="min-price" type="number">
                                            <label class="control-label" for="min-price">Min price</label>
                                            <span>R</span>
                                        </div>
                                        <div class="field-wrap">
                                            <input class="form-control main-form__name-input" id="max-price" name="max-price" type="number">
                                            <label class="control-label" for="max-price">Max price</label>
                                            <span>R</span>
                                        </div>
                                    </div>
                                    <p>Average price in Cape Town R 19,000</p>
                                    <div class="filters-menu__apply-clear">
                                        <button class="filters-menu__button second-link">APPLY</button>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li>
                            <a href="#">Prorerty Type</a>
                            <div class="filters-menu__dropdown filters-menu__apartment">
                                <div class="filters-menu__checkbox-position">
                                    {{#each global-checkbox-apart}}
                                        <input class="global-checkbox" id="global-checkbox{{id}}" type="checkbox" value="value">
                                        <label class="global-checkbox-label" for="global-checkbox{{for}}">{{label-name}}</label>
                                        <span>{{desc-apart}}</span>
                                    {{/each}}
                                </div>
                                <div class="filters-menu__apply-clear">
                                    <button class="filters-menu__button second-link">APPLY</button>
                                    <button class="filters-menu__button--black second-link">CLEAR</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">Pet Policy</a>
                            <div class="filters-menu__dropdown filters-menu__pet">
                                <div class="filters-menu__checkbox-position">
                                    {{#each global-checkbox-pet}}
                                        <input class="global-checkbox" id="global-checkbox{{id}}" type="checkbox" value="value">
                                        <label class="global-checkbox-label" for="global-checkbox{{for}}">{{label-name}}</label>
                                        <span>{{desc-apart}}</span>
                                    {{/each}}
                                </div>
                                <div class="filters-menu__apply-clear">
                                    <button class="filters-menu__button second-link">APPLY</button>
                                    <button class="filters-menu__button--black second-link">CLEAR</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">Rooms & Area</a>
                            <div class="filters-menu__dropdown filters-menu__rooms">
                                {{#each global-checkbox-rooms}}
                                    <div class="filters-menu__rooms-position">
                                        <p>{{rooms-desc}}</p>
                                        <div class="filters-menu__rooms-number">
                                            <a class="filters-menu__rooms-minus {{rooms-minus-disabled}}" href="#"><img src="images/global/minus-active.svg" alt=""></a>
                                            <input class="filters-menu__rooms-input" type="text" data-step="{{step}}" data-min="{{data-min}}" data-max="{{data-max}}" data-value="{{rooms-number-count}}" value="{{rooms-number}}" disabled>
                                            <a class="filters-menu__rooms-plus" href="#"><img src="images/global/plus-active.svg" alt=""></a>
                                        </div>
                                    </div>
                                {{/each}}
                                <div class="filters-menu__apply-clear">
                                    <button class="filters-menu__button second-link">APPLY</button>
                                    <button class="filters-menu__button--black second-link">CLEAR</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">Availability & Duration</a>
                            <div class="filters-menu__dropdown filters-menu__calendar">
                                <div class="filters-menu__calendar-data">
                                    <form class="main-form__filters">
                                        <div class="field-wrap">
                                            <input class="form-control main-form__name-input datepicker" id="datepicker" name="datepicker" type="text">
                                            <label class="control-label" for="datepicker">Available</label>
                                        </div>
                                    </form>
                                </div>
                                <p>Duration</p>
                                <span class="min-position">—</span>
                                <span class="months-position">months</span>
                                <div class="filters-menu__range-slider">
                                    <input type="text" class="js-range-slider" name="js-range-slider">
                                </div>
                                <div class="filters-menu__apply-clear">
                                    <button class="filters-menu__button second-link">APPLY</button>
                                    <button class="filters-menu__button--black second-link">CLEAR</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">Features</a>
                            <div class="filters-menu__dropdown filters-menu__features">
                                <div class="filters-menu__checkbox-position">
                                    {{#each global-checkbox-features}}
                                        <input class="global-checkbox" id="global-checkbox{{id}}" type="checkbox" value="value">
                                        <label class="global-checkbox-label" for="global-checkbox{{for}}">{{label-name}}</label>
                                    {{/each}}
                                </div>
                                <div class="filters-menu__apply-clear">
                                    <button class="filters-menu__button second-link">APPLY</button>
                                    <button class="filters-menu__button--black second-link">CLEAR</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a class="filters-menu__send-me second-link" href="#">Send me alerts based on these filters</a>
                </div>
            </div>
            <a href="#" class="open-map"><img src="images/browsing/map-black.svg" alt="map" data-number="0"></a>
        </div>
        <div class="browsing__closest-mobile">
            <div class="browsing__form-closest">
                {{#each browsing-closest}}
                    <input class="browsing__input" id="browsing__input-mobile{{id}}" type="checkbox">
                    <label class="browsing__input-label" for="browsing__input-mobile{{for}}">{{closest-item}}</label>
                {{/each}}
            </div >
        </div>
    </div>
</div>

