<div class="image-info">
    <div class="container">
        <div class="row {{revers}}">
            <div class="col-lg-{{size-text}} {{off-text}} image-info__text wow bounceInUp" data-wow-duration="1.5s">
                <h3>{{title}}</h3>
                <p>{{desc}}</p>
                <div class="image-info__two wow bounceInRight">
                  {{{button-one}}}
                  {{{button-two}}}
                </div>
            </div>
            <div class="col-lg-{{size-img}} {{off-img}} image-info__img  wow bounceInLeft" data-wow-duration="1.5s">
                <h3>{{title}}</h3>
                <img src="{{img}}" alt="img">
            </div>
        </div>
    </div>
</div>
