<div class="img-desc">
    <div class="container">
        <div class="row {{rev}}">
            <div class="col-lg-6 img-desc__images">
                <h3>{{title}}</h3>
                <img src="{{img-full}}" alt="img">
            </div>
            <div class="col-lg-6 img-desc__text flex-column d-flex justify-content-center">
                <h3>{{title}}</h3>
                <p>{{text}}</p>
                <div class="img-desc__logo">
                    <img src="{{img}}" alt="img">
                </div>
            </div>
        </div>
    </div>
</div>
