<div class="property">
    <div class="container">
        <div class="property__info wow bounceInUp">
            <h2 class="property__title wow">{{title}}</h2>
            <p class="property__desc">{{desc}}</p>
            <ul>
                {{#each list-box}}
                    <li>{{list}}</li>
                {{/each}}
            </ul>
            <div class="property__button wow bounceInLeft">
                <a href="#" class="button--blue">Get started</a>
                <a href="#" class="button--white--border">More Details</a>
            </div>
        </div>
        <div class="property__img-position">
            <div class="property__img wow bounceInRight">
                <span><img src="{{skob}}" alt="skob"></span>
                <p class="property__img-text">{{text}}</p>
                <strong>Alex S.</strong>
            </div>
        </div>
    </div>
</div>
