<div class="tenat">
    <div class="container">
        <div class="row {{{revers}}}">
            <div class="col-lg-6">
                <div class="question__text-box">
                    <h3 class="question__title">{{title}}</h3>
                    <strong class="question__desc">{{desc}}</strong>
                    <p class="question__text">{{text}}</p>
                    <a href="#" class="button--white">Learn more</a>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="size3x" src="{{img-size3x}}" alt="img">
                <img class="size1x" src="{{img-size1x}}" alt="img">
            </div>
        </div>
    </div>
</div>
