<div class="top-pages-search">
    <div class="container">
        <div class="row {{revers}} justify-content-between">
            <div class="col-lg-{{size-text}} top-pages-search__text">
                <h1>{{title}}</h1>
                <p>{{desc}}</p>
                <form class="top-pages-search__form">
                    <input class="form-control top-pages-search__name-input" placeholder="Where will home be for you?" type="text">
                    <button type="submit" class="small-button newsletter-form__button">SEARCH</button>
                </form>
                    <a href="#">Have a property? List with us <span>→</span></a>
            </div>
            <div class="col-lg-{{size-img}}">
                <img src="{{images}}" alt="img">
            </div>
        </div>
    </div>
</div>
