<div class="top-pages">
    <div class="container">
        <div class="row {{revers}} justify-content-between top-pages__block-position">
            <div class="col-lg-{{size-text}} top-pages__text">
                <h1>{{title}}</h1>
                <p>{{desc}}</p>
                <a href="{{link}}" class="button--blue">{{link-name}}</a>
            </div>
            <div class="col-lg-{{size-img}} top-pages__image wow zoomIn">
                <h1>{{title}}</h1>
                <img src="{{images}}" alt="img">
            </div>
        </div>
    </div>
</div>
