<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body class="apartment-details apartment">
<section class="apartment-details-header">
  {{#with background}}
    <div class="apartment-details-header__bcground" style="background-image: url('{{ bgd }}')">
      <a href="#"><img class="images arrow-back" src="{{arrow-back}}" alt="back"></a>
      <div class="container">
        <div class="apartment-details-header__title">
          <a href="#" class="button--blue">Verified</a>
          <h1>Smart 1bedroomer in downtown</h1>
          <span class="target">6280 Northampton Boulevard, Cape Town</span>
          <div class="row-statist">
            <p class="bed">4</p>
            <p class="bath">2</p>
            <p class="size">187m<sup>2</sup></p>
            <p class="bild">Apartment</p>
          </div>
          <div class="apartment-details-header__gallery">
            <div class="gallery-img d-flex">
              {{#each img-apart}}
                <a href="#"><img src="{{apart}}" alt="apartments"></a>
                <a href="#"><span class="ingallery">{{other}}</span></a>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/with}}
</section>
<section class="apartment-details-blocks">
  <div class="container">
    <div class="apartment-details-blocks__features">
      <div class="apartment-details-blocks__description">
        <h3>Apartment Description</h3>
        <p class="bottom-line">This is a beautiful, spacious 1 bedroom apartment located right on the East Riverside district! It is super
          close to downtown and you get a beautiful view of the city skyline from the dog park! I have barely lived in
          it
          and the condition is like new. <br><br>It is on the first floor and parking is always available right in
          front. It is newly renovated and comes with
          top of the line amenities.</p>
        <h3>Cool Features</h3>
        <div class="features-img bottom-line">
          {{#each img-symbol}}
            <div class="features-img-text">
              <a class="images" href="#"><img src="{{symbol}}" alt="cool features"></a>
              <span class="symbol">{{text}}</span>
            </div>
          {{/each}}
        </div>
        <h3>Pet Policy</h3>
        <div class="features-img bottom-line">
          {{#with img-symbol-pets}}
            <div class="features-img-text">
              <a class="images" href="#"><img src="{{symbol}}" alt="cool features"></a>
              <span class="symbol">{{text}}</span>
            </div>
          {{/with}}
        </div>
        <div class="message">
          {{#with client-avatar}}
            <div class="message-text">
              <h3>Meet <a href="#" class="link-name">{{first-name}} {{last-name}}</a> — your future Landlord</h3>
              <p class="date">Member since June, 2018</p>
              <p class="date dot"></p>
              <p class="date Estate">Real Estate Company</p>
              <p>It is on the first floor and parking is always available right in front. It is newly renovated and comes
                with top of the line… amenities.</p>
            </div>
            <div class="message-img-text">
              <img class="images images_mass" src="{{avatar}}" alt="uncle Bob">
              <img class="images images_check" src="{{avatar_check}}" alt="check">
              <a href="#" class="link-bold">Message {{first-name}}</a>
            </div>
          {{/with}}
        </div>
      </div>
      <div class="apartment-details-blocks__map">
        {{#with map_pleace}}
          <div class="map">
            <a class="images" href="#"><img src="{{map}}" alt="cool features"></a>
          </div>
        {{/with}}
        <div class="apartment-details-blocks__undermap">
          <div class="apartment-details-blocks__block-top bottom-line-small">
            <p class="h-font">R19,470</p><p class="map-font heard">/month</p>
          </div>
          <div class="apartment-details-blocks__block-middle bottom-line-small">
            <p class="map-font">Availability</p>
            <p class="big-font checker">Right Now</p>
            <p class="map-font">Duration</p>
            <p class="big-font calendar">12 months</p>
          </div>
          <div class="apartment-details-blocks__block-bottom bottom-line-small">
            <div class="blocks-allow">
              <p class="map-font">Monthly Rent</p><p class="big-font">R19,470</p>
            </div>
            <div class="blocks-allow">
              <p class="map-font">Security Deposit</p><p class="big-font">R0.00</p>
            </div>
            <div class="blocks-allow">
              <p class="map-font">What you’ll pay at move in</p><p class="big-font">R19,470</p>
            </div>
            <a href="#" class="button--blue">Apply Now</a>
          </div>
          <div class="apartment-details-blocks__block-text">
            <p class="map-font-big">This home is on people’s minds.</p>
            <p class="map-font-middle">It’s been viewed 500+ times in the past week.</p>
          </div>
        </div>
        <a href="#" class="link-vulgatus">Report this listing</a>
      </div>
    </div>
  </div>
</section>
<section class="apartment-details-map">
  {{#with map}}
    <div class="apartment-details-map__bcground" style="background-image: url('{{ bgd-map }}')">
      <div class="container">
        <div class="apartment-details-map__buttons-on-map">
          <img class="images" src="{{group}}" alt="buttons">
        </div>
      </div>
    </div>
  {{/with}}
    <div class="apartment-details-map__around">
      <div class="container">
        <div class="apartment-details-map__title">
          <h3>Similar properties nearby</h3>
          <div class="apartment-details-map__gallery">
            <div class="apartment-details-map__position">
              {{> ../common/browsing/apartment-tile}}
            </div>
          </div>
          <div class="apartment-details-map__button">
            <a href="#" class="button--white">Show More</a>
          </div>
          <div class="apartment-details-map__other">
            <div class="offset-text">
              <h3>More places to rent in Cape Town:</h3>
              <a href="#">Apartment</a>
              <a href="#">Houses</a>
              <a href="#">Rooms for Rent</a>
            </div>
            <div class="offset-text">
              <h3>Renters are also looking for:</h3>
              <a href="#">Durban</a>
              <a href="#">Pretoria</a>
              <a href="#">Bloemfontein</a>
              <a href="#">Johannesburg</a>
              <a href="#">Soweto</a>
              <a href="#">Rustenburg</a>
              <a href="#">Port Elizabeth</a>
              <a href="#">East London</a>
              <a href="#">Nelspruit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{{> ../common/header-footer/footer }}
</body>
</html>
