<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body class="browsing">
    {{> ../common/mobile-menu}}
    {{> ../common/header-footer/nav-brows}}
    {{> ../common/modal/sign-in}}
    {{> ../common/modal/sign-up}}
    {{> ../common/modal/check-email}}
    {{> ../common/modal/forgot-pass}}
    {{> ../common/modal/select-role}}
    {{> ../common/modal/send-me}}
    {{> ../common/modal/keep-me}}
    {{> ../common/browsing/filters-menu}}

    <div class="filters-menu-mobile">
        <div class="filters-menu__items">
            <div class="browsing__close-filter">
                <a class="browsing__close-filter-icon" href="#">
                    <img src="images/global/close-filter.svg" alt="">
                </a>
                <a class="browsing__close-btn" href="#">CLEAR</a>
            </div>
            <ul>
                <li>
                    <p>Price Range</p>
                    <div class="filters-menu__dropdown filters-menu__price">
                        <form class="main-form__filters">
                            <div class="filters-menu__input-position">
                                <div class="field-wrap">
                                    <input class="form-control main-form__name-input" id="min-price" name="min-price" type="number">
                                    <label class="control-label" for="min-price">Min price</label>
                                    <span>R</span>
                                </div>
                                <div class="field-wrap">
                                    <input class="form-control main-form__name-input" id="max-price" name="max-price" type="number">
                                    <label class="control-label" for="max-price">Max price</label>
                                    <span>R</span>
                                </div>
                            </div>
                            <p>Average price in Cape Town R 19,000</p>
                        </form>
                    </div>
                </li>
                <li>
                    <p>Apartment</p>
                    <div class="filters-menu__dropdown filters-menu__apartment">
                        <div class="filters-menu__checkbox-position">
                            {{#each global-checkbox-apart}}
                                <input class="global-checkbox" id="global-checkbox{{id}}-mob" type="checkbox" value="value">
                                <label class="global-checkbox-label" for="global-checkbox{{for}}-mob">{{label-name}}</label>
                                <span>{{desc-apart}}</span>
                            {{/each}}
                        </div>
                    </div>
                </li>
                <li>
                    <p>Pets Policy</p>
                    <div class="filters-menu__dropdown filters-menu__pet">
                        <div class="filters-menu__checkbox-position">
                            {{#each global-checkbox-pet}}
                                <input class="global-checkbox" id="global-checkbox{{id}}-mob" type="checkbox" value="value">
                                <label class="global-checkbox-label" for="global-checkbox{{for}}-mob">{{label-name}}</label>
                                <span>{{desc-apart}}</span>
                            {{/each}}
                        </div>
                    </div>
                </li>
                <li>
                    <p>Rooms & Area</p>
                    <div class="filters-menu__dropdown filters-menu__rooms">
                        {{#each global-checkbox-rooms}}
                            <div class="filters-menu__rooms-position">
                                <p>{{rooms-desc}}</p>
                                <div class="filters-menu__rooms-number">
                                    <a class="filters-menu__rooms-minus {{rooms-minus-disabled}}" href="#"><img src="images/global/minus-active.svg" alt=""></a>
                                    <input class="filters-menu__rooms-input" type="text" data-step="{{step}}" data-min="{{data-min}}" data-max="{{data-max}}" data-value="{{rooms-number-count}}" value="{{rooms-number}}" disabled>
                                    <a class="filters-menu__rooms-plus" href="#"><img src="images/global/plus-active.svg" alt=""></a>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </li>
                <li>
                    <p>Availability & duration</p>
                    <div class="filters-menu__dropdown filters-menu__calendar">
                        <div class="filters-menu__calendar-data">
                            <form class="main-form__filters">
                                <div class="field-wrap">
                                    <input class="form-control main-form__name-input datepicker" id="datepicker-mob" name="datepicker-mob" type="text">
                                    <label class="control-label" for="datepicker-mob">Available</label>
                                </div>
                            </form>
                        </div>
                        <p>Duration</p>
                        <span class="min-position">—</span>
                        <span class="months-position">months</span>
                        <div class="filters-menu__range-slider">
                            <input type="text" class="js-range-slider" name="js-range-slider">
                        </div>
                    </div>
                </li>
                <li>
                    <p>Features</p>
                    <div class="filters-menu__dropdown filters-menu__features">
                        <div class="filters-menu__checkbox-position">
                            {{#each global-checkbox-features}}
                                <input class="global-checkbox" id="global-checkbox{{id}}-mob" type="checkbox" value="value">
                                <label class="global-checkbox-label" for="global-checkbox{{for}}-mob">{{label-name}}</label>
                            {{/each}}
                        </div>
                    </div>
                </li>
            </ul>
            <div>
                <button class="filters-menu__button button--blue">APPLY</button>
            </div>
        </div>
    </div>
    <div class="browsing__search-result-mobile">
        <p>15 properties available for rent in Cape Town</p>
    </div>
    <div class="container-box-full">
        <div class="browsing__map-position">
            <a class="browsing__sity-info-btn nav__button--white button--white--border" href="#">VIEW City Information</a>
            <div class="browsing__sity-info nicescroll-box">
                    <div class="browsing__sity-info-head">
                        <h2>{{sity-info-h2}}</h2>
                        <a class="browsing__sity-info-close" href="#"></a>
                    </div>
                    {{#each sity-info}}
                        <div class="browsing__sity-info-desc">
                            <div class="browsing__sity-info-img">
                                <img src="{{sity-info-img}}" alt="">
                            </div>
                            <div class="browsing__sity-info-text">
                                <h3>{{sity-info-h3}}</h3>
                                <p>{{{sity-info-p}}}</p>
                            </div>
                        </div>
                    {{/each}}
                        <div class="browsing__sity-info-desc">
                            <div class="browsing__sity-info-img">
                                <img src="#" alt="">
                            </div>
                            <div class="browsing__sity-info-text">
                                <h3>Cities Near Cape Town</h3>
                                <ul>
                                    {{#each cities-link}}
                                        <li>
                                            <a class="explore__link" href="#">{{link-desc}}</a>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
            </div>
            <div class="browsing__search-result">
                <p>15 properties available for rent in Cape Town</p>
                <div class="browsing__closest-filter">
                    <a class="browsing__triangle" href="#">Sort by</a>
                    <div class="filters-menu__dropdown browsing__closest">
                        <div class="browsing__form-closest">
                            {{#each browsing-closest}}
                                <input class="browsing__input" id="browsing__input{{id}}" type="checkbox">
                                <label class="browsing__input-label" for="browsing__input{{for}}">{{closest-item}}</label>
                            {{/each}}
                        </div >
                    </div>
                </div>
            </div>
            <div class="browsing__tile-position">
                {{> ../common/browsing/apartment-tile}}
            </div>
        </div>
    </div>
    <div class="browsing__google-map">
        <div class="map" id="map"></div>
        <div id="cd-zoom-in"></div>
        <div id="cd-zoom-out"></div>
        <div class="browsing__map-filter" id="browsing__map-filter-show">
            <a class="browsing__map-filter-btn" href="#"></a>
            {{#each global-checkbox-map-filter}}
                <input class="global-checkbox" id="global-checkbox{{id}}" type="checkbox" value="value">
                <label class="global-checkbox-label" for="global-checkbox{{for}}">{{label-name}}</label>
            {{/each}}
        </div>
    </div>
    <script type="text/javascript">

        // Функция initMap которая отрисует карту на странице
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.1958549, lng: 18.4449913},
                zoom: 17,
                disableDefaultUI: true,
                zoomControl: false,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.SMALL
                },
                styles: [
                    {
                        "featureType": "administrative",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#444444"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.locality",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "landscape",
                        "elementType": "all",
                        "stylers": [
                            {
                                "color": "#F7F7F7"
                            },
                            {
                                "visibility": "simplified"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "visibility": "simplified"
                            },
                            {
                                "saturation": "-65"
                            },
                            {
                                "lightness": "45"
                            },
                            {
                                "gamma": "1.78"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "all",
                        "stylers": [
                            {
                                "saturation": -100
                            },
                            {
                                "lightness": 45
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "visibility": "on"
                            },
                            {
                                "color": "#87878A"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "simplified"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "labels.text",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway.controlled_access",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway.controlled_access",
                        "elementType": "labels.text",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway.controlled_access",
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "labels.text",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "labels.text",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "transit.line",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "saturation": "-33"
                            },
                            {
                                "lightness": "22"
                            },
                            {
                                "gamma": "2.08"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "all",
                        "stylers": [
                            {
                                "color": "#C4D6E5"
                            },
                            {
                                "visibility": "simplified"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "stylers": [
                            {
                                "visibility": "on"
                            },
                            {
                                "hue": "#1a5dc6"
                            }

                        ]
                    }
                ]
            });
            var contentApart = ['<div id="content1">'+
                    '<div><div class="apartment-tile-1">'+
                    '<div class="apartment-tile-1__checkbox-position">'+
                    '<input class="apartment-tile-1__checkbox" id="apartment-tile__checkbox99" type="checkbox" value="value">'+
                    '<label class="apartment-tile-1__checkbox-label" for="apartment-tile__checkbox99"></label>'+
                    '</div>'+
                    '<div class="apartment-tile-1__slider-1">'+
                    '<img src="images/browsing/bedroom1.png" alt="apartments">'+
                    '<img src="images/browsing/bedroom1.png" alt="apartments">'+
                '</div>'+
                '<div class="apartment-tile-1__desc-position">'+
                    '<div class="apartment-tile-1__zar-box">'+
                    '<span>ZAR</span>'+
                    '<span>19,470</span>'+
                    '</div>'+
                    '<h3>Smart 1bedroomer in downtown</h3>'+
                    '<div class="apartment-tile-1__desc">'+
                    '<div class="apartment-tile-1__verification-position">'+
                    '<span class="apartment-tile-1__verification apartment-tile__blue">Verified</span>'+
                    '<span class="apartment-tile-1__desc-apart">Apartment</span>'+
                    '</div>'+
                    '<div class="apartment-tile-1__rating-position">'+
                '<img src="images/global/star.svg" alt="star">'+
                    '<span class="apartment-tile-1__rating">4,78</span>'+
                    '<span class="apartment-tile-1__review">(32)</span>'+
                    '</div>'+
                    '</div>'+
                    '<p class="apartment-tile-1__adress">6280 Northampton Boulevard, Cape Town</p>'+
                    '<div class="apartment-tile-1__details">'+
                    '<span class="apartment-tile-1__details-sofa">4</span>'+
                    '<span class="apartment-tile-1__details-bath">2</span>'+
                    '<span class="apartment-tile-1__details-square">187 m<sup>2</sup></span>'+
            '</div>'+
            '</div>'+
                    '</div>',
                '<div id="content1">'+
            '<div><div class="apartment-tile-1">'+
            '<div class="apartment-tile-1__checkbox-position">'+
            '<input class="apartment-tile-1__checkbox" id="apartment-tile__checkbox99" type="checkbox" value="value">'+
            '<label class="apartment-tile-1__checkbox-label" for="apartment-tile__checkbox99"></label>'+
            '</div>'+
            '<div class="apartment-tile-1__slider-1">'+
            '<img src="images/browsing/bedroom1.png" alt="apartments">'+
            '<img src="images/browsing/bedroom1.png" alt="apartments">'+
            '</div>'+
            '<div class="apartment-tile-1__desc-position">'+
            '<div class="apartment-tile-1__zar-box">'+
            '<span>ZAR</span>'+
            '<span>19,470</span>'+
            '</div>'+
            '<h3>Smart House</h3>'+
            '<div class="apartment-tile-1__desc">'+
            '<div class="apartment-tile-1__verification-position">'+
            '<span class="apartment-tile-1__verification apartment-tile__blue">Verified</span>'+
            '<span class="apartment-tile-1__desc-apart">Apartment</span>'+
            '</div>'+
            '<div class="apartment-tile-1__rating-position">'+
            '<img src="images/global/star.svg" alt="star">'+
            '<span class="apartment-tile-1__rating">4,78</span>'+
            '<span class="apartment-tile-1__review">(32)</span>'+
            '</div>'+
            '</div>'+
            '<p class="apartment-tile-1__adress">6280 Northampton Boulevard, Cape Town</p>'+
            '<div class="apartment-tile-1__details">'+
            '<span class="apartment-tile-1__details-sofa">4</span>'+
            '<span class="apartment-tile-1__details-bath">2</span>'+
            '<span class="apartment-tile-1__details-square">187 m<sup>2</sup></span>'+
            '</div>'+
            '</div>'+
            '</div>'];
            // var infowindow = new google.maps.InfoWindow({
            //     content: contentApart1
            // });

            var image = {
                url: 'images/global/map-marker-big.svg',
                scaledSize: new google.maps.Size(62, 42),
                labelOrigin: new google.maps.Point(32, 15)
            };
            var imageOrange = {
                url: 'images/global/marker-orange.svg',
                scaledSize: new google.maps.Size(62, 42),
                labelOrigin: new google.maps.Point(32, 15)
            };
            let apartList = document.querySelectorAll('.apartment-tile');
            for (let i = 0; i < apartList.length; i++) {
                let x = parseFloat(apartList[i].getAttribute('data-x'));
                let y = parseFloat(apartList[i].getAttribute('data-y'));
                let dataPrice = apartList[i].getAttribute('data-price');
                let marker = new google.maps.Marker({
                    position: {lat: x, lng: y},
                    map: map,
                    title: 'Rentorr',
                    icon: image,
                    label: {
                        text: dataPrice,
                        color: '#fff',
                        fontSize: '12px',
                        fontWeight: '900',
                        fontFamily: 'Overpass'
                    }
                });
                let infowindow = new google.maps.InfoWindow({
                    content: contentApart[i]
                });
                marker.addListener('click', function() {
                    infowindow.open(map, marker);
                });
                apartList[i].addEventListener('mouseover', function () {
                    marker.setIcon(imageOrange);
                });
                apartList[i].addEventListener('mouseout', function () {
                    marker.setIcon(image);
                });
                google.maps.event.addListener(map, "click", function(event) {
                    infowindow.close();
                });
            }
            // var apart1 = new google.maps.Marker({
            //     position: {lat: -34.1957846, lng: 18.4482404},
            //     map: map,
            //     title: 'Rentorr',
            //     icon: image,
            //     label: {
            //         text: 'R19.470',
            //         color: '#fff',
            //         fontSize: '12px',
            //         fontWeight: '900',
            //         fontFamily: 'Overpass'
            //     }
            // });
            // document.querySelector('.apartment-tile').addEventListener('mouseover', function () {
            //     apart1.setIcon(imageOrange);
            // });
            // document.querySelector('.apartment-tile').addEventListener('mouseout', function () {
            //     apart1.setIcon(image);
            // });
            // apart1.addListener('click', function() {
            //     infowindow.open(map, apart1);
            // });
            // var apart2 = new google.maps.Marker({
            //     position: {lat: -34.1960906, lng: 18.4475311},
            //     map: map,
            //     title: 'Rentorr',
            //     icon: image,
            //     label: {
            //         text: 'R11.400',
            //         color: '#fff',
            //         fontSize: '12px',
            //         fontWeight: '900',
            //         fontFamily: 'Overpass'
            //     }
            // });
            // var apart3 = new google.maps.Marker({
            //     position: {lat: -34.1954096, lng: 18.4472335},
            //     map: map,
            //     title: 'Rentorr',
            //     icon: image,
            //     labelAnchor: new google.maps.Point(100, 50),
            //     label: {
            //         text: 'R13.400',
            //         color: '#fff',
            //         fontSize: '12px',
            //         fontWeight: '900',
            //         fontFamily: 'Overpass'
            //     }
            // });
            // var apart4 = new google.maps.Marker({
            //     position: {lat: -34.1966497, lng: 18.4485186},
            //     map: map,
            //     title: 'Rentorr',
            //     icon: image,
            //     label: {
            //         text: 'R15.400',
            //         color: '#fff',
            //         fontSize: '12px',
            //         fontWeight: '900',
            //         fontFamily: 'Overpass',
            //     }
            // });
            function CustomZoomControl(controlDiv, map) {
                //grap the zoom elements from the DOM and insert them in the map
                var controlUIzoomIn= document.getElementById('cd-zoom-in'),
                        controlUIzoomOut= document.getElementById('cd-zoom-out');
                controlDiv.appendChild(controlUIzoomIn);
                controlDiv.appendChild(controlUIzoomOut);

                // Setup the click event listeners and zoom-in or out according to the clicked element
                google.maps.event.addDomListener(controlUIzoomIn, 'click', function() {
                    map.setZoom(map.getZoom()+1)
                });
                google.maps.event.addDomListener(controlUIzoomOut, 'click', function() {
                    map.setZoom(map.getZoom()-1)
                });
            }
            var zoomControlDiv = document.createElement('div');
            zoomControlDiv.setAttribute('class', 'zoom-map');
            var zoomControl = new CustomZoomControl(zoomControlDiv, map);
            map.controls[google.maps.ControlPosition.LEFT_BOTTOM].push(zoomControlDiv);
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-_AEib7vHKXFg7mgGbQPhrweik5bo9X0&callback=initMap"></script>
</body>
</html>
